html {  -ms-touch-action: none; /* Direct all pointer events to JavaScript code. */
  }
body{margin:0px}
div,a,td,li{font-size:16px;line-height:150%;margin:0 auto; font-family: "Microsoft YaHei"; }
span{margin:0 auto;}
li{padding:0; list-style:none}
p {font-size:20px;
display: block;
-webkit-margin-before: 0.5em;
-webkit-margin-after: 0.5em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}
.vips1{
	padding:6px 2px;border-left:3px solid #2F90E1;-webkit-border-left:3px solid #2F90E1;
}
.vips2 td,.vips3 td{border-top:1px solid #ccc;border-right:1px solid #ccc;border-bottom:1px solid #ccc;color:#222;}
.vips4 td{color:#2F90E1;font-weight: bold;border-top:1px solid #ccc;border-right:1px solid #ccc;border-bottom:1px solid #ccc;}
.vipsv{background-image:url(/css/v22.png?1);background-repeat: no-repeat;background-position: 50%;}
.vipsx{background-image:url(/css/x22.png?1);background-repeat: no-repeat;background-position: 50%;}
.sl{overflow: hidden; text-overflow: ellipsis;white-space:nowrap;} /*超出则省略*/
.b{display:block}
.i{display:inline-block;}
.h{
	margin-right: -143px;
	cursor: pointer;
	cursor: hand;
	}
	.h1{
	display: none;
	}
.op50{alpha(opacity = 50);opacity:0.50;} 
.op75{alpha(opacity = 75);opacity:0.75;}
.op80{alpha(opacity = 80);opacity:0.80;} 
.op90{alpha(opacity = 90);opacity:0.90;} 
a{cursor:pointer;}

A:link {  TEXT-DECORATION: none;outline:none ;}
A:active { TEXT-DECORATION: none;outline:none;}
A:visited {  TEXT-DECORATION: none; outline:none;}
A:hover {  TEXT-DECORATION: none;outline:none; }
.xtb,.tb,.ytb{ cursor:pointer;color:#777; text-align:center;} 
.tb{color:#000; }
.ytb{color:#bbb; }

.hdtb {color:#C5C5C5;font-weight:bold;}
.hdtbx {color:#00CAFE;font-weight:bold;}
.hd {
  background-color: #00CAFE;
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}
  *{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);} /*不显示a标签的范围*/
.biaoqian{padding-top: 2px;text-align: right; width: 100px;color:#000; font-size:12px;}
.input2{
		-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
		-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
		box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
		border:1px solid #044062;
		font-size:16px;
 }
 
.margint20{margin-top:20px;}
.margint30{margin-top:30px;}
.margintb10{margin:10px auto;}
.cent{text-align:center;overflow: hidden; }
.rght{text-align:right;overflow: hidden; }
.lft{text-align:left; overflow:hidden;}
.fleft{float:left}
.fright{float:right}
.leftm{left:7px;margin-top:-8px;top:50%;position:absolute}
.tleft{left:0px;top:-15px;position:absolute}
.leftt{left:10px;top:10px;position:absolute;}

.rightm{right:10px;margin-top:-8px;top:50%;position:absolute}
.rightr{right:0px;margin-top:-2px;top:50%;position:absolute}
.rightt{right:7px;margin-top:-8px;top:0;position:absolute}
.rightb{ right:0px; bottom:0px; position:absolute;}
.topc{top:8px;margin-left:-8px;left:50%;position:absolute}
.topsz{top:-82px;left:-21%;position:absolute}
.tophd{top:10px;left:57%;position:absolute;width: 25px;height: 25px;background-image:url(/css/hdqd.png);}
.topl{top:0;left:0;position:absolute}
.topl2{top:2px;left:2px;position:absolute;}
.topl3{top:-3px;left:-3px;position:absolute;}
.topl6{top:-6px;left:-6px;position:absolute;}
.topr{top:0;right:0; position:absolute;}
.kcstyle{top:-10px;right:-8px; position:absolute;}
.centm{ top:7px;left:32px;position:absolute;}
.botm{bottom:0;left:0;position:absolute}
.yahei{font-family: "Microsoft YaHei"; text-shadow: 0 0 2px #000;}
.yaheif{color: #fff; font-family: "Microsoft YaHei";  }
.yahei0{color: #000; font-family: "Microsoft YaHei";}
.yaheiyel{ color:#fff600; font-family:"Microsoft YaHei"; text-shadow: 0 0 2px #333;}
.yaheiffd{ color:#ffd46d; font-family:"Microsoft YaHei";}
.yaheifff{ color:#fff2c5; font-family:"Microsoft YaHei";}
.shd{
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
}
.shdw{
	-moz-box-shadow:0 3px 4px rgba(0, 0, 0, 0.9);
	-webkit-box-shadow:0 3px 4px rgba(0, 0, 0, 0.9);
	box-shadow:0 3px 4px rgba(0, 0, 0, 0.9);
}

.flt { 
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}
.miaobian{
   -webkit-text-fill-color: black;
  -webkit-text-stroke-color: #333;
  -webkit-text-stroke-width: 1px;
 
}

.x_input2,.y_input2,.z_input2{
		font-size:16px;
		height:28px;
		padding-left:3px;padding-right:3px;
	
}
.x_input2{
		-moz-box-shadow:inset 0 1px 4px #999;
		-webkit-box-shadow:inset 0 1px 4px #999;
		box-shadow:inset 0 1px 4px #999;
		border:1px dashed #eee;
 }
 .y_input2{
	 -moz-box-shadow:inset 0 1px 4px #999;
		-webkit-box-shadow:inset 0 1px 4px #999;
		box-shadow:inset 0 1px 4px #999;
		border:1px dashed #eee;
  }
 .z_input2{
 		border:0px;
 }
 
.x_bd1,.z_bd1,.y_bd1{ 
	border:2px solid #111;
	-moz-box-shadow:0 1px 4px #76f095;
	-webkit-box-shadow:0 1px 4px #76f095;
	box-shadow:0 1px 4px #76f095;
} 
.z_bd1{ 
	border:2px solid #16bf42;
	-moz-box-shadow:0 1px 4px #76f095;
	-webkit-box-shadow:0 1px 4px #76f095;
	box-shadow:0 1px 4px #76f095;
} 
.y_bd1{ 
	border:2px solid #F00;
	-moz-box-shadow:0 2px 4px #C00;
	-webkit-box-shadow:0 2px 4px #C00;
	box-shadow:0 2px 4px #C00;
} 

.x_mod{
	background-color:#939393;
}
.y_mod{
	background-color:#ff7a4b;
}
.z_mod{
	background-color:#f9f9f9;
}
  
 
.x_bd5{ border:4px solid #F9FDD7;}
.y_bd5{ border:4px solid #F9FDD7;-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;}
.z_bd5{ border:4px solid #F9FDD7;}
 
.x_bd3{ border:1px solid #044062;border-left:1px solid #fff;border-top:1px solid #fff;}
.y_bd3{ border:1px solid #044062;-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;}
.z_bd3{ border:1px solid #555;border-left:1px solid #333;border-top:1px solid #333;}



.nb{ border-bottom:0px;}
.nl{ border-left:0px;}
.nr{ border-right:0px;}
.nt{ border-top:0px;}


.x_blue4,.y_blue4,.z_blue4{color:#187487;border-bottom:3px solid transparent;-webkit-border-bottom:3px solid transparent;}
.y_blue4,.z_blue4 {color:#ff7878;border-bottom:3px solid #ff7878;-webkit-border-bottom:3px solid #ff7878;}
.x_btnclose,.z_btnclose{width:60px; height:54px;background-image:url(btnclose.png?1);background-position: 9px -49px}
.z_btnclose { background-position: 9px 5px}
.x_btncloseggk,.z_btncloseggk,.x_btnclosezhbinfo,.z_btnclosezhbinfo,.x_btnclosemishu,.z_btnclosemishu,.x_btncloseblackclas,.z_btncloseblackclas{width:60px; height:54px;background-image:url(btnclose.png?1);background-position: 9px -49px}
.z_btncloseggk.z_btnclosemishu,.z_btncloseblackclas,.z_btnclosezhbinfo { background-position: 9px 5px}
.x_btncloseui3b,.z_btncloseui3b{width:60px; height:54px;background-image:url(btncloseui3b.png?1);background-position: 9px -49px}
.z_btncloseui3b { background-position: 9px 5px}
.x_btnnav,.z_btnnav,.y_btnnav{width:65px; height:29px;color:#f0e1cc}
.y_btnnav { background-image:url(qizi-01.png?2);background-repeat:no-repeat;background-size:cover;width:65px; height:29px;color:#fff;}
.z_btnnav { background-image:url(qizi-01.png?2);background-repeat:no-repeat;background-size:cover;width:65px; height:29px;color:#fff;}
.x_iyqbtn,.z_iyqbtn,.y_iyqbtn{width:160px; height:40px;background-image:url(ui4iyqpicx.png?2);background-repeat:no-repeat;background-size:contain;}
.y_iyqbtn { background-image:url(ui4iyqpicy.png?2);}
.z_iyqbtn { background-image:url(ui4iyqpicz.png?2);}
.x_igdbtn,.z_igdbtn,.y_igdbtn{width:160px; height:40px;background-image:url(ui4igdpicx.png?2);background-repeat:no-repeat;background-size:contain;}
.y_igdbtn { background-image:url(ui4igdpicy.png?2);}
.z_igdbtn { background-image:url(ui4igdpicz.png?2);}
.x_idzbtn,.z_idzbtn,.y_idzbtn{width:160px; height:40px;background-image:url(ui4idzpicx.png?2);background-repeat:no-repeat;background-size:contain;}
.y_idzbtn { background-image:url(ui4idzpicy.png?2);}
.z_idzbtn { background-image:url(ui4idzpicz.png?2);}
 
  
.x_radio,.y_radio,.z_radio { 
	-moz-border-radius: 50%; -webkit-border-radius: 50%;  border-radius: 50%; 
	/*box-shadow:inset 0 3px 4px #ccc;*/
	width:13px;
	height:13px;
	border:#222 1px solid;
 }
.z_radio,.y_radio { 
	background:#FF7878;
}
.x_check,.y_check,.z_check { 
	-moz-border-radius: 3px; -webkit-border-radius: 3px;  border-radius: 3px; 
	box-shadow:inset 0 3px 4px #ccc;
	width:16px;
	height:16px;
	border:#222 1px solid;
}
.z_check,.y_check { 
	background:#999;
} 
.x_checkw,.y_checkw,.z_checkw { 
	-moz-border-radius: 50%; -webkit-border-radius: 50%;  border-radius: 50%; 
	width:20px;
	height:20px;
	border:#C9C9C9 1px solid;
}
.z_checkw,.y_checkw { 
	background-image:url(/css/checkw.png);background-size:contain;background-position:50% 50%;border: #04BE02 1px solid;
} 
 
.x_check1,.z_check1,.y_check1{
	  background:url(check.gif) no-repeat; background-position:-5px -5px; cursor:pointer;  height:23px; width:23px;
}
.z_check1{
	 background:url(check1.gif) no-repeat; background-position:-5px -5px; 
}
.y_check1{
	background:url(checked.gif) no-repeat; background-position:-5px -5px; 
}

.x_checkwx,.z_checkwx,.y_checkwx {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    width: 47px;
    height: 27px;
    border: 1px solid #DFDFDF;
    outline: 0;
    border-radius: 16px;
    box-sizing: border-box;
    background: #DFDFDF;
    display: inline-block;
}
.y_checkwx{
	border-color: #04BE02;
    background-color: #04BE02;
}
.y_checkwx:before {
    -webkit-transform: scale(0);
    transform: scale(0);
}
.x_checkwx:before,.z_checkwx:before,.y_checkwx:before{
	content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 25px;
    border-radius: 15px;
    background-color: #FDFDFD;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}
.y_checkwx:after {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
}
.x_checkwx:after,.z_checkwx:after,.y_checkwx:after{
	content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 24px;
    border-radius: 15px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}
.leftwx{
	left: 7px;
    margin-top: -13px;
    top: 50%;
    float: left;
    margin-left: -30px;
}
 
.zan {
    width:38px; height:40px;background-image:url(zan.png);
}
.shoucang {
    width:38px; height:40px;background-image:url(shoucang.png);
}
.focusbtn {
    width: 230px;
    height: 53px;
    display: inline-block;
    line-height: 3;
    color: #eee;
	background-size: cover;
}

 .clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
#emotions{
	width: 480px;font-size:12px;background:#fff;border: 1px solid #E8E8E8;
	 
	z-index:99999;position:absolute;left:0; 
}
#emotions a{
	color: #9ABBC8;padding:2px 7px;text-decoration:none;
}
#emotions img{
	border:0;
}
#emotions div{
	margin:5px 10px;padding:1px;overflow: hidden;
}
#emotions #prev,
#emotions #next
{
	margin-left:3px;background:#eee;
}
#emotions .categorys{
	color:#ccc;height:23px;color: #9ABBC8;overflow:hidden;
}
#emotions .categorys a{
	display: inline-block;font-size:16px; line-height:100%;
}
#emotions .categorys a:hover{
	text-decoration:underline;
}
#emotions .categorys a.current{
	cursor: default;background: #F0F0F0;-moz-border-radius: 3px;-webkit-border-radius: 3px;
}
#emotions .container{
	padding:1px;overflow: hidden;
}
#emotions .container a{
	float:left;width:52px;height:48px;text-align:center;padding: 4px 2px;margin: -1px 0 0 -1px;border: 1px solid #e8e8e8;
}
#emotions .container a:hover{
	z-index:2;position:relative;border:1px solid #0095cd;
}
#emotions .page{
	text-align:right;
}
#emotions .page a.current{
	color: #666;background-color:#fff;
}
#emotions .page a{
	margin-left:3px;color: #0078B6;background-color:#f3f3f3;font-size:16px; line-height:100%;
}
#emotions .page a:hover{
	background-color:#e7e7e7;
}

#addus{
	height:150px;
}
#boy{
	height:40px; width:40px; border-bottom-width:1px; text-align:center; float:left; margin:2px;
}
#girl{
	height:40px; width:40px; border-bottom-width:1px; text-align:center; float:left; margin:2px;
}
.us-selected{
	background-color:#06C;
}
/**
 * 声音元件
 * -u-audio
 */
 /*sprite图片合并*/
.css_sprite01 { background-image:url(/css/css_sprite01.png)!important;  background-repeat: no-repeat!important; } 
.u-audio { position: absolute; top: 23px;left: -30px;width: 132px; height: 73px; z-index: 1000; }
.u-audio .res_audio { position: absolute; top: 0; left: 0; opacity: 0; height: 0; width: 0; }
.u-audio .btn_audio { width: 100%; padding-top: 29px; height: 44px; }
.u-audio .btn_audio strong,
.u-audio .btn_audio .audio_open { display: inline-block; height: 44px; line-height: 44px; vertical-align: middle; }
.u-audio .btn_audio .audio_close { display: inline-block; height: 44px; line-height: 44px; vertical-align: middle; }
.u-audio .btn_audio strong { width: 57px; font-size: 24px; color: #fff; opacity: 1; }
.u-audio .btn_audio .audio_open { position: absolute; bottom: 0; left: 56px; width: 44px; }
.u-audio .btn_audio .audio_close { position: absolute; bottom: 0; left: 56px; width: 44px; background-position: -87px -266px;}
.u-audio .btn_audio strong.z-hide { opacity: 0; }
.u-audio .btn_audio strong.z-move { 
	-webkit-transition:opacity 0.5s;
  	   -moz-transition:opacity 0.5s;
	    -ms-transition:opacity 0.5s;
	     -o-transition:opacity 0.5s;
	        transition:opacity 0.5s;
}
.u-audio.z-low { z-index: 1; } 

/*独立用途*/
#headtitle,#toptsdiv,#ghead{transition: height 1s;
-moz-transition: height 1s;	/* Firefox 4 */
-webkit-transition: height 1s;	/* Safari 和 Chrome */
-o-transition: height 1s;	/* Opera */}
.morjpan{
	transition: all 0.8s;
	-moz-transition: all 0.8s;	/* Firefox 4 */
	-webkit-transition: all 0.8s;	/* Safari 和 Chrome */
	-o-transition: all 0.8s;	/* Opera */
	
}
.uploader
{
	border: 2px dotted #7E7E7E;
	width: 100%;
	color: #000;
	text-align: center;
	vertical-align: middle;
	padding: 10px ;
	margin-bottom: 10px;
	font-size: 200%;

	cursor: default;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.uploader div.or {
	font-size: 50%;
	font-weight: bold;
	color: #C0C0C0;
	padding: 10px;
}

.uploader div.browser label {
	background-color: #46cad9;
	padding: 5px 15px;
	color: white;
	padding: 6px 0px;
	font-size: 40%;
	font-weight: bold;
	cursor: pointer;
	border-radius: 2px;
	position: relative;
	overflow: hidden;
	display: block;
	width: 300px;
	margin: 20px auto 0px auto;

	box-shadow: 2px 2px 2px #888888;
}

.uploader div.browser span {
	cursor: pointer;
}


.uploader div.browser input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	border: solid transparent;
	border-width: 0 0 100px 200px;
	opacity: .0;
	filter: alpha(opacity= 0);
	-o-transform: translate(250px,-50px) scale(1);
	-moz-transform: translate(-300px,0) scale(4);
	direction: ltr;
	cursor: pointer;
}

.uploader div.browser label:hover {
	background-color: #008696;
}
 

.demo-note{
	color:gray;
	font-style: italic;
}
.vips2{
 
}
 #aatopnav a:-webkit-any-link,#headtitle a:-webkit-any-link {
	color: #fff;
  text-decoration: none;
  cursor: auto;
  outline:none ;
}
a:-webkit-any-link {
	color: #fff;
  text-decoration: none;
  cursor: auto;
  outline:none ;
}
.jgsharesh{
	transition:all 1s;
	-moz-transition:all 1s;
	-webkit-transition:all 1s;
	-o-transition:all 1s;
	transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	margin-top: 52%;
	line-height: 2.5;
}

/* D&D Demo */
.demo-panel-files {
	max-height: 290px;
	min-height: 70px;
	overflow: auto;
	cursor: default;
}

#ghead{
	position: relative;
	height:56px;
}
.ghead{
 	min-height:56px;
 }
 #ajax-loader{
 	animation: bgRotate 2s linear infinite;
 	-webkit-animation: bgRotate 2s linear infinite;
 	background-size:contain;
 	background-repeat: no-repeat;
 }
 a.weixin .h {
    display: none;
    position: absolute;
    right: 190px;
    top: 0px;
}

		.ui3col{
				background-color:#ebe2d1;
				
			}
			.ui3col1{
				background: #89847C;
			}
			.ui3bmain{
				width:640px;min-height:600px;position: relative;
			}
			#ui3title{
				height:62px;font-size: 20px;line-height: 3.3;
			}
			#ui3detail{
				height:62px;font-size: 18px;line-height: 3.3;width:640px;
			}
			#ui3tx{
				background-image:url("/css/loadinglogo.png");background-repeat:no-repeat;width:35.03125%;max-width:269px;height:0px;padding-bottom:22.03125%;background-size: contain;margin-top: 10%;transition: all 1s;-moz-transition: all 1s;	-webkit-transition: all 1s;-o-transition: all 1s;-webkit-animation-fill-mode: both;animation-fill-mode: both;
			}
			#ui3txs{
				width: 83%; height: 0px; padding-bottom: 83%; background-size: contain;background-repeat:no-repeat;background-position: 50%; border: 4px solid #fff;-webkit-border: 4px solid #fff;border-radius: 50%;-webkit-border-radius: 50%;
			}
			#ui3txt{
				background-image:url("/css/ui4logo.png");background-repeat:no-repeat;background-position:50%;width:15.03125%;height:0px;padding-bottom:15.03125%;background-size: contain;margin-left: 10px;margin-top:10px;cursor:pointer;
			}
			#ui3txts{
				width: 83%; height: 0px; padding-bottom: 83%; background-size: contain;background-repeat:no-repeat;background-position: 50%; border: 4px solid #fff;-webkit-border: 4px solid #fff;border-radius: 50%;-webkit-border-radius: 50%;
			}
			#ui3vscnt{
				width:200px;font-size: 24px;line-height: 2.5;transition: all 1s;-moz-transition: all 1s;	-webkit-transition: all 1s;-o-transition: all 1s;-webkit-animation-fill-mode: both;animation-fill-mode: both;color:#2a2426;
			}
			#ui3vip{
    			text-align: center; font-size: 30px; line-height: 3.8; width: 20.5625%;max-width:170px; height: 0px; padding-bottom: 20.78125%; background-size: contain;background-repeat:no-repeat;background-image:url("/css/ui3vip.png?1");transition: all 1s;-moz-transition: all 1s;	-webkit-transition: all 1s;-o-transition: all 1s;-webkit-animation-fill-mode: both;animation-fill-mode: both;
			}
			#ui3n0,#ui3n4{
				background-color:#fff;width:79.625%;height:0px;padding-bottom:14.25%;padding-right:3%;padding-left:3%;border-radius: 4px;-webkit-border-radius: 4px;margin-top:2%;transition: all 1s;-moz-transition: all 1s;	-webkit-transition: all 1s;-o-transition: all 1s;-webkit-animation-fill-mode: both;animation-fill-mode: both;
			}
			#ui3n4{margin-top:5%;}
			
			#ui3daohang{
				position:fixed;bottom:0px;width:100%;background:url(/css/opa5.png);z-index:10;
			}
			#ui3daohangs{width:480px;}
			.ui3n0ic{
				margin:1px 8px 0 1px;background-image:url("/css/ui3n0.png?1");background-repeat:no-repeat;width:30px;height:30px;background-size: contain;
			}
			.ui3n0ic:hover{
				background-image:url("/css/ui3n0y.png?1");
			}
			.ui3n3ic{
				margin:1px 8px 0 1px;background-image:url("/css/ui3n3.png");background-repeat:no-repeat;width:30px;height:30px;background-size: contain;
			}
			.ui3n3ic:hover{
				background-image:url("/css/ui3n3y.png");
			}
			.ui3n4ic{
				margin:1px 8px 0 1px;background-image:url("/css/ui3n4.png?1");background-repeat:no-repeat;width:30px;height:30px;background-size: contain;
			}
			.ui3n4ic:hover{
				background-image:url("/css/ui3n4y.png?1");
			}
			.ui3vipic{
				margin:1px 8px 0 1px;background-image:url("/css/xv.png?1");background-repeat:no-repeat;width:30px;height:30px;background-size: contain;
			}
			.ui3vipic:hover{
				background-image:url("/css/xvy.png?1");
			}
			.ui3cntic{
				margin:1px 8px 0 1px;background-image:url("/css/ui3r.png?1");background-repeat:no-repeat;width:30px;height:30px;background-size: contain;
			}
			.ui3cntic:hover{
				background-image:url("/css/ui3ry.png?1");
			}
			.ui3n0ics{
				white-space:nowrap; margin: 11px 80px;font-size:16px;line-height: 2.5;	
			}
			.ui3n4ics{
				white-space:nowrap; margin: 11px 30px;font-size:16px;line-height: 2.5;
			}
			.ui3vipics{
				white-space:nowrap; margin: 11px 30px;font-size:16px;line-height: 2.5;
			}
			#ui3n4_0_1{transition: all 1s;-moz-transition: all 1s;	-webkit-transition: all 1s;-o-transition: all 1s;-webkit-animation-fill-mode: both;animation-fill-mode: both;}
			#ui3n0_0_1{transition: all 1s;-moz-transition: all 1s;	-webkit-transition: all 1s;-o-transition: all 1s;-webkit-animation-fill-mode: both;animation-fill-mode: both;}
			.ui3daohangbg{
				background-repeat:no-repeat;width:8.437990580847723%;height:0px;padding-bottom:6%;background-size: contain;
			}
			#ui3vscnts{
    			overflow: hidden;white-space: nowrap;width: 100px;
			}
			#zcgame{
				display:none;background-image:url(/css/opa11.png);background-size:cover;background-position:50%;width:83.625%;min-height:140px;padding:1%;border-radius: 3px;-webkit-border-radius: 3px;
			}
			#ui3zc{
				display:none;width:85.625%;min-height:140px;padding:5% 0%;border-radius: 3px;-webkit-border-radius: 3px;margin-top:2%;
			}
			#zcmain{
				font-size:22px;color:#2a2426;
			}
			#zcbtn{
				width: 70%;margin-top: 30px;
			}
			#typhead{
				height:86px;
			}
			#typmain{
				background-color:#ebebeb;
			}
			#main1{
				background-image:url(/w1/logo.png);width:140px;height:140px;border-radius: 50%;
				-webkit-border-radius: 50%;border:6px solid #fff;-webkit-border:6px solid #fff;
				background-color:#09D3FE;background-size:contain;background-repeat: no-repeat;
				background-position: 50% 44%;
			}
			#typbtn1{
				background-image:url(/css/typbtn1.png);width:180px;height:180px;background-size:contain;
				background-repeat: no-repeat;cursor: pointer;margin:20px;
			}
			#typbtn2{
				background-image:url(/css/typbtn2.png);width:180px;height:180px;background-size:contain;
				background-repeat: no-repeat;cursor: pointer;margin:20px;
			}
			#typbtn3{
				background-image:url(/css/typbtn3.png);width:180px;height:180px;background-size:contain;
				background-repeat: no-repeat;cursor: pointer;margin:20px;
			}
			#typbtn4{
				background-image:url(/css/typbtn4.png);width:180px;height:180px;background-size:contain;
				background-repeat: no-repeat;cursor: pointer;margin:20px;
			}
			.ui3inputclas{
				 border-color: #999;border-radius: 2px;color: #333;border: 1px solid #999;padding: 10px 23px;margin: 10px 0;width:87%;font-size: 16px;
			}
			.ui3spanclas{
				font-size: 14px;position: absolute;left: 17px;background: #fff;padding: 0 5px;-webkit-transition: all .2s ease-out;transition: all .2s ease-out;border-radius: 8px;-webkit-border-radius: 8px;
			}
			.x_ui3db1,.y_ui3db1,.z_ui3db1{width:60px; height:54px;background-image:url(/css/ui3sy1.png?8);}
			.y_ui3db1,.z_ui3db1 { background-image:url(/css/ui3sy.png?8);}
			.x_ui3db2,.y_ui3db2,.z_ui3db2{width:60px; height:54px;background-image:url(/css/ui3yl1.png?8);}
			.y_ui3db2,.z_ui3db2 { background-image:url(/css/ui3yl.png?8);}
			.x_ui3db3,.y_ui3db3,.z_ui3db3{width:60px; height:54px;background-image:url(/css/ui3dz1.png?8);}
			.y_ui3db3,.z_ui3db3 { background-image:url(/css/ui3dz.png?8);}
			.x_ui3db4,.y_ui3db4,.z_ui3db4{width:60px; height:54px;background-image:url(/css/ui3xs1.png?8);}
			.y_ui3db4,.z_ui3db4 { background-image:url(/css/ui3xs.png?8);}
			.x_gnewbtn1,.y_gnewbtn1,.z_gnewbtn1{width:85px; height:85px;background-image:url(/css/gnewbtn1.png?3);background-size: contain;}
			.y_gnewbtn1,.z_gnewbtn1{background-image:url(/css/gnewbtn1s.png?2);}
			.x_gnewbtn2,.y_gnewbtn2,.z_gnewbtn2{width:85px; height:85px;background-image:url(/css/gnewbtn2.png?3);background-size: contain;}
			.y_gnewbtn2,.z_gnewbtn2{background-image:url(/css/gnewbtn2s.png?2);}
			.x_gnewbtn3,.y_gnewbtn3,.z_gnewbtn3{width:85px; height:85px;background-image:url(/css/gnewbtn3.png?3);background-size: contain;}
			.y_gnewbtn3,.z_gnewbtn3{background-image:url(/css/gnewbtn3s.png?2);}
			.x_gnewbtn4,.y_gnewbtn4,.z_gnewbtn4{width:85px; height:85px;background-image:url(/css/gnewbtn4.png?3);background-size: contain;}
			.y_gnewbtn4,.z_gnewbtn4{background-image:url(/css/gnewbtn4s.png?2);}
			.x_gnewbtn5,.y_gnewbtn5,.z_gnewbtn5{width:85px; height:85px;background-image:url(/css/gnewbtn5.png?3);background-size: contain;}
			.y_gnewbtn5,.z_gnewbtn5{background-image:url(/css/gnewbtn5s.png?2);}
			#weikea:hover{text-decoration:underline;color: #2f90e1;}
			.abline:hover{text-decoration:underline;}
			.x_c_0gaxxpic0,.y_c_0gaxxpic0,.z_c_0gaxxpic0{width:60px; height:54px;background-image:url(/css/gaxxpic0.png?3);background-size: 48%;background-position: 50%;background-repeat: no-repeat;}
			.y_c_0gaxxpic0,.z_c_0gaxxpic0 { background-image:url(/css/gaxxpic0.png?3);background-color:#EBEBEB;}
			.x_c_1gaxxpic1,.y_c_1gaxxpic1,.z_c_1gaxxpic1{width:60px; height:54px;background-image:url(/css/gaxxpic1.png?3);background-size: 48%;background-position: 50%;background-repeat: no-repeat;}
			.y_c_1gaxxpic1,.z_c_1gaxxpic1 { background-image:url(/css/gaxxpic1.png?3);background-color:#EBEBEB;}
			.x_c_2gaxxpic2,.y_c_2gaxxpic2,.z_c_2gaxxpic2{width:60px; height:54px;background-image:url(/css/gaxxpic2.png?3);background-size: 48%;background-position: 50%;background-repeat: no-repeat;}
			.y_c_2gaxxpic2,.z_c_2gaxxpic2 { background-image:url(/css/gaxxpic2.png?3);background-color:#EBEBEB;}
			.x_c_3gaxxpic3,.y_c_3gaxxpic3,.z_c_3gaxxpic3{width:60px; height:54px;background-image:url(/css/gaxxpic3.png?3);background-size: 48%;background-position: 50%;background-repeat: no-repeat;}
			.y_c_3gaxxpic3,.z_c_3gaxxpic3 { background-image:url(/css/gaxxpic3.png?3);background-color:#EBEBEB;}
			.x_c_4gaxxpic4,.y_c_4gaxxpic4,.z_c_4gaxxpic4{width:60px; height:54px;background-image:url(/css/gaxxpic4.png?3);background-size: 48%;background-position: 50%;background-repeat: no-repeat;}
			.y_c_4gaxxpic4,.z_c_4gaxxpic4 { background-image:url(/css/gaxxpic4.png?3);background-color:#EBEBEB;}
			.x_c_5gaxxpic5,.y_c_5gaxxpic5,.z_c_5gaxxpic5{width:60px; height:54px;background-image:url(/css/gaxxpic5.png?3);background-size: 48%;background-position: 50%;background-repeat: no-repeat;}
			.y_c_5gaxxpic5,.z_c_5gaxxpic5 { background-image:url(/css/gaxxpic5.png?3);background-color:#EBEBEB;}
			.x_c_6gaxxpic6,.y_c_6gaxxpic6,.z_c_6gaxxpic6{width:60px; height:54px;background-image:url(/css/gaxxpic6.png?3);background-size: 48%;background-position: 50%;background-repeat: no-repeat;}
			.y_c_6gaxxpic6,.z_c_6gaxxpic6 { background-image:url(/css/gaxxpic6.png?3);background-color:#EBEBEB;}
			.x_c_7gaxxpic7,.y_c_7gaxxpic7,.z_c_7gaxxpic7{width:60px; height:54px;background-image:url(/css/gaxxpic7.png?3);background-size: 48%;background-position: 50%;background-repeat: no-repeat;}
			.y_c_7gaxxpic7,.z_c_7gaxxpic7 { background-image:url(/css/gaxxpic7.png?3);background-color:#EBEBEB;}
			.x_gsetdzBtn,.y_gsetdzBtn,.z_gsetdzBtn{
				width:117px;height:97px;position:absolute;right:0px;bottom:-9px;background-image:url(/css/ui3eq.png?3);background-size:100%;border-right:1px solid #ebe2d1;
			}
			.y_gsetdzBtn{
				background-image:url(/css/ui3eq3.png?3);
			}
			.z_gsetdzBtn{
				background-image:url(/css/ui3eq2.png?3);
			}
			.x_gcmhtBtn,.y_gcmhtBtn,.z_gcmhtBtn{
				width:100%;height:65px;border:2px solid #ccc;-webkit-border:2px solid #ccc;color:#888;background-color:#ebe2d1;
			}
			.y_gcmhtBtn{
				border:2px solid #FFA342;-webkit-border:2px solid #FFA342;background-color:#fff;
			}
			.z_gcmhtBtn{
				border:2px solid #FFA342;-webkit-border:2px solid #FFA342;background-color:#fff;
			}
			.proclas{background-color:#ff7878}
			.gameResuleLight{
				width:464px;height:474px;background-image: url(/css/winlight.png);background-repeat: no-repeat;background-size: 100% 100%;position: absolute;z-index: -1;border-radius: 50%;animation: bgRotate 18s linear infinite;-webkit-animation: bgRotate 18s linear infinite;-moz-animation: bgRotate 18s linear infinite;-o-animation: bgRotate 18s linear infinite;top: -20px;left: 8px;
			}
			.gameResuleBg{
				color:red;font-size:20px;width:415px;height:418px;margin-top:10px;background-image: url(/css/gameresult.png);background-repeat: no-repeat;background-size: contain;background-position: 50% 50%;
			}
			#sidebar1_2{
				background-image: url(http://kxtui.com/css/kx01.jpg);
			}
			#sidebar2_1{
				background-image: url(http://kxtui.com/css/kx02.jpg);
			}
			#sidebar3_1{
				background-image:url(/css/kxx03.jpg);
			}
			#sidebar3_2{
				background-image:url(/css/kx03.jpg);
			}
			#sidebar4_1{
				background-image:url(/css/kxx04.jpg);
			}
			#sidebar4_2{
				background-image:url(/css/kx04.jpg);
			}
			.searchHis{
				position: absolute;top: 0px;left: 320px;width: 420px;height: auto;
			}
	.applywidth{
		width:16%;
		font-size:14px;
	}
			@media screen and (max-width:700px){
				#ui3daohang{padding-left:5%;width:95%;}
				.ui3n0ics{margin: 16px 80px;line-height: 1.9;}
				.ui3n4ics{margin: 16px 30px;line-height: 1.9;}
				.ui3vipics{margin: 16px 30px;line-height: 1.9;}
			}
			@media screen and (max-width:970px){
			.ghead{
				min-height:86px;
			 }
			 }
	.x_banpoint{width: 10px;height: 10px;margin:5px;display:block;background:#fff;-webkit-border-radius: 50%;border-radius: 50%;float:left;cursor: pointer;}
	.y_banpoint {width: 10px;height: 10px;margin:5px;display:block;background:#e85521;-webkit-border-radius: 50%;border-radius: 50%;float:left;cursor: pointer;}
/********动画部分start********/
@-webkit-keyframes marquee {
	0% { left: 0; }
	100% { left: -100%; }
}
@-moz-keyframes marquee {
	0% { left: 0; }
	100% { left: -100%; }
}
@-ms-keyframes marquee {
	0% { left: 0; }
	100% { left: -100%; }
}
@-o-keyframes marquee {
	0% { left: 0; }
	100% { left: -100%; }
}
@keyframes marquee {
  0%{left:0}
  100%{left: -100%}
}
/*向上渐显*/
@-webkit-keyframes slideInUp {
    0% {
        -webkit-transform: translate3d(0,100%,0);transform: translate3d(0,100%,0);visibility: visible
    }
    100% {
        -webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0)
    }
}
@keyframes slideInUp {
    0% {
        -webkit-transform: translate3d(0,100%,0);transform: translate3d(0,100%,0);visibility: visible
    }
    100% {
        -webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0)
    }
}
.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp
}
/*向下渐隐*/
@-webkit-keyframes slideOutDown {
    0% {
        -webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0)
    }
    100% {
        visibility: hidden;-webkit-transform: translate3d(0,100%,0);transform: translate3d(0,100%,0)
    }
}
@keyframes slideOutDown {
    0% {
        -webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0)
    }
    100% {
        visibility: hidden;-webkit-transform: translate3d(0,100%,0);transform: translate3d(0,100%,0)
    }
}
.slideOutDown {
    -webkit-animation-name: slideOutDown;
	 animation-name: slideOutDown
}
/*循环旋转*/
@keyframes bgRotate {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes bgRotate {
    from {
        -webkit-transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg)
    }
}

@-moz-keyframes bgRotate {
    from {
        -moz-transform: rotate(0deg)
    }

    to {
        -moz-transform: rotate(360deg)
    }
}

@-o-keyframes bgRotate {
    from {
        -o-transform: rotate(0deg)
    }

    to {
        -o-transform: rotate(360deg)
    }
}
/*左右摇摆*/
@keyframes lrRotate {
    from {
        transform: rotate3d(0,0,1,-10deg);
    }

    to {
        transform: rotate3d(0,0,1,10deg);
    }
}

@-webkit-keyframes lrRotate {
    from {
        -webkit-transform: rotate3d(0,0,1,-10deg);
    }

    to {
        -webkit-transform: rotate3d(0,0,1,10deg);
    }
}

@-moz-keyframes lrRotate {
    from {
        -moz-transform: rotate(0,0,1,-10deg);
    }

    to {
        -moz-transform: rotate(0,0,1,10deg);
    }
}

@-o-keyframes lrRotate {
    from {
        -o-transform: rotate(0,0,1,-10deg);
    }

    to {
        -o-transform: rotate(0,0,1,10deg);
    }
}

@-webkit-keyframes lightSpeedIn {
    0% {
        -webkit-transform: translate3d(100%,0,0) skewX(-30deg);
        transform: translate3d(100%,0,0) skewX(-30deg);
        opacity: 0
    }

    60% {
        -webkit-transform: skewX(20deg);
        transform: skewX(20deg);
        opacity: 1
    }

    80% {
        -webkit-transform: skewX(-5deg);
        transform: skewX(-5deg);
        opacity: 1
    }

    100% {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

@keyframes lightSpeedIn {
    0% {
        -webkit-transform: translate3d(100%,0,0) skewX(-30deg);
        transform: translate3d(100%,0,0) skewX(-30deg);
        opacity: 0
    }

    60% {
        -webkit-transform: skewX(20deg);
        transform: skewX(20deg);
        opacity: 1
    }

    80% {
        -webkit-transform: skewX(-5deg);
        transform: skewX(-5deg);
        opacity: 1
    }

    100% {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

.lightSpeedIn {
    -webkit-animation-name: lightSpeedIn;
    animation-name: lightSpeedIn;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@-webkit-keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,90deg);
        transform: perspective(400px) rotate3d(1,0,0,90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,-20deg);
        transform: perspective(400px) rotate3d(1,0,0,-20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,10deg);
        transform: perspective(400px) rotate3d(1,0,0,10deg);
        opacity: 1
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,-5deg);
        transform: perspective(400px) rotate3d(1,0,0,-5deg)
    }

    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px)
    }
}

@keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,90deg);
        transform: perspective(400px) rotate3d(1,0,0,90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,-20deg);
        transform: perspective(400px) rotate3d(1,0,0,-20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,10deg);
        transform: perspective(400px) rotate3d(1,0,0,10deg);
        opacity: 1
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,-5deg);
        transform: perspective(400px) rotate3d(1,0,0,-5deg)
    }

    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px)
    }
}

.flipInX {
    -webkit-backface-visibility: visible!important;
    backface-visibility: visible!important;
    -webkit-animation-name: flipInX;
    animation-name: flipInX;
    -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
/********动画部分end********/
.marquee {
  height: 30px;

  overflow: hidden;
  position: relative;
}

.marquee div {
  display: block;
  width: 200%;
  height: 30px;
  
  position: absolute;
  overflow: hidden;

  -webkit-animation: marquee 4s linear infinite;
  -moz-animation: marquee 4s linear infinite;
  -ms-animation: marquee 4s linear infinite;
  -o-animation: marquee 4s linear infinite;
  animation: marquee 4s linear infinite;
}
#sideBar{
	width: 131px;
	height: 143px;
	position: fixed;
	bottom: 200px;
	right: 0px;
	z-index:21;
}
.sideBarli{
	width: 131px;
	height: 60px;
}
#pgViewIframe{
	-webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    width:540px;
	position:absolute;
	z-index:21;
	padding:10px;
	background-color:#fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	border:2px solid #eee;
	-webkit-border:2px solid #eee;
	display:none;
}
.searchmain{
	width:1100px;
	padding-top:16px;
}
.ui4col1{
	position:absolute;z-index:20;left: 0px;width:100%;
}
#toptsdiv{
	display:none;
}
.ui4gsetmain{
	width:1040px; padding:5px 0px;margin-top: 114px;
}

#search{
	margin-left:160px;width:260px;height:36px;background-size: contain;border-radius: 1px;-webkit-border-radius: 1px;border:1px solid #cd6830;-webkit-border:1px solid #cd6830;
}
#searchdiv{
		height: 67px;
	}
#mheadtitle{
	display:none;
	clear:both;
}
#mheadmain1{
	height:40px;width: 100%;overflow:hidden;position: relative;
}
#mheadmain2{
	background:#ebe2d1;padding:10px 0px;color: #A1A1A1;
}
#indexwmain{
	max-width:1100px;margin-top: 105px;
}
#gnewmain{
	padding: 20px 0px 0;
}
.ui4mtoplogo{
	width: 130px;height:50px;background-image: url(/css/ui4logo.png?2);background-size: contain;background-repeat: no-repeat;cursor: pointer;margin: 22px 0px 0px 5px;float:left;display:none;
}
.ui4mtoplogo1{
	width: 90px;height:50px;background-image: url(/css/loadinglogo.png?2);background-size: contain;background-repeat: no-repeat;cursor: pointer;margin: 17px 0px 0px 5px;float:left;
}
.ui4headright{
	color:#888;line-height: 3.3;margin-right:20px;cursor: pointer;
}

.ui4headquit{
	color:rgb(255, 134, 56);line-height: 3.3;margin-right:20px;cursor: pointer;
}
.ui4headright:after{
	content:"欢迎来到开心推";
	}
.searchlogo{
	width:130px;padding-bottom: 4.6%;background-image:url(/css/ui4logo.png?2);background-size: contain;background-repeat: no-repeat;cursor: pointer;margin-left:20px;
}
.gsetbanpic{
	position:relative;background-size:cover;background-repeat:no-repeat;background-position:50% 50%;height:315px;
}
#sidebar1_1{
	background-image: url(http://kxtui.com/css/kxx01.jpg);
}
#sidebar2_2{
	background-image:url(/css/kxx02.jpg);
}
.focusbtn{
	background-image: url(/css/focusbtn.png);
}
.focusbtn:after{
	content:"全民自助定制微游戏    ";
}
.focusbtns:after{
	content:"粤ICP备12080865号-2";
}


@media screen and (max-width:640px){
	.ui3bmain,#ui3detail{
		width:480px;
	}
	#ui3vip{
		font-size: 27px;
		    line-height: 3.2;
	}
	#ui3txt{
		background-image:url("/css/loadinglogo.png?2");
		padding-bottom: 75px;
		margin-left: 10px;
		margin-top: 4px;
	}
	#toptsdiv,#toptsdiv,#mheadtitle,.ui4mtoplogo{
		display:block;
	}
	#ghead{
		height:86px;
	}
	.ui4gsetmain{
		width:520px; padding:5px 0px;margin-top: 55px;
	}
	.gsetbanpic,#sideBar,.searchlogo,#headtitle,#ghead3,.ui4headquit,.ui4headright{
		display:none;
	}
	.searchmain{
		width:100%;
	}
	#search{
		margin-left: 50px;
		width: 376px;
	}
	.searchHis{
		top: 42px;left: 0;
	}
	#searchdiv{
		height: 94px;
	}
	#indexwmain{
		margin-top: 0px;
	}
	#gnewmain{
		padding: 60px 0px 0;
	}
	.x_gsetdzBtn,.y_gsetdzBtn,.z_gsetdzBtn{
		background-image:url(/css/ui3eqm.png?3);
	}
	.y_gsetdzBtn{
		background-image:url(/css/ui3eqm3.png?3);
	}
	.z_gsetdzBtn{
		background-image:url(/css/ui3eqm2.png?3);
	}
	#ghead2:after{
		content:"开心推 微信服务号:kxtui-com/官方QQ群:18090543";
	}
}