div
{
transition: transform 0.2s;
-moz-transition: -moz-transform 0.2s;
-webkit-transition: -webkit-transform 0.2s;
-o-transition: -o-transform 0.2s;
}
@-webkit-keyframes dongzuo1{
	 0%{
		 opacity:0;
		-webkit-transform: scale(0);
		top:500px;
		 }
	 15%{
		 opacity:1;
		-webkit-transform: scale(1);
		top:400px;
	 }
	 80%{
		 opacity:1;
		-webkit-transform: scale(1);
		top:400px;
	 }
	 100% {
 		opacity: 0;
		-webkit-transform: scale(0);
		top:400px;
 	}
 }
@keyframes dongzuo1{
	 0%{
		 opacity:0;
		 -webkit-transform: scale(0);
		 top:500px;
	 }
	 15%{
		 opacity:1;
		-webkit-transform: scale(1);
		top:400px;
	 }
	 80%{
		 opacity:1;
		-webkit-transform: scale(1);
		top:400px;
	 }
	 100% {
 		opacity: 0;
		-webkit-transform: scale(0);
		top:400px;
 	}
}
@-webkit-keyframes dongzuo2{
	 0%{
		 opacity:0;
		-webkit-transform: scale(0);
		top:620px;
		 }
	 60%{
		 opacity:1;
		-webkit-transform: scale(1);
		top:520px;
		 }
	100% {
 		opacity: 1;
		top:520px;
 	}
 }
 @keyframes dongzuo2{
	 0%{
		 opacity:0;
		 -webkit-transform: scale(0);
		 top:620px;
	 }
	 60%{
		 opacity:1;
		 -webkit-transform: scale(1);
		 top:520px;
	 }
	 100% {
 		opacity: 1;
		top:520px;
 	}
}
@-webkit-keyframes dongzuo3{
	 0%{
		 opacity:0;
		-webkit-transform: scale(0);
		top:600px;
	 }
	 60%{
		 opacity:1;
		-webkit-transform: scale(1);
		top:500px;
	 }
	 100% {
 		opacity: 1;
		top:500px;
 	}
 }
 @keyframes dongzuo3{
	 0%{
		 opacity:0;
		 -webkit-transform: scale(0);
		 }
	 60%{
		 opacity:1;
		 -webkit-transform: scale(1);
		 top:400px;
	 }
	 100% {
 		opacity: 1;
 	}
						 }
 .x_bymbtn3 {
 	background-image: url(/g/cmdg/css/18.png);
 	width: 117px;
 	height: 51px;
	line-height: 2;
	color: black;
 }
 .y_bymbtn3,
 .z_bymbtn3 {
 	background-image: url(/g/cmdg/css/19.png);
 	width: 117px;
 	height: 51px;
	line-height: 2;
	color: black;
 }
 #scene3btn_0{margin-left: 170px;margin-top: 50px;}