.ui4headright:after{
	content:"欢迎来到开心推";
	}
.searchlogo{
	width:130px;padding-bottom: 4.6%;background-image:url(/css/ui4logo.png?2);background-size: contain;background-repeat: no-repeat;cursor: pointer;margin-left:20px;
}
.gsetbanpic{
	background-size:cover;background-repeat:no-repeat;background-position:50% 50%;height:315px;
}
#sidebar1_1{
	background-image: url(http://kxtui.com/css/kxx01.jpg);
}
#sidebar2_2{
	background-image:url(/css/kxx02.jpg);
}
.focusbtn{
	background-image: url(/css/focusbtn.png);
}
.focusbtn:after{
	content:"全民自助定制微游戏&nbsp;&nbsp;";
}
.focusbtns:after{
	content:"粤ICP备12080865号-2";
}
